header.main {
	background-color: #EDEBE1;
	border-bottom: 1px solid #CCC;
	padding: 20px 0 19px 0;
}

header.main div.container  {
	margin: 0 auto;
	max-width: 960px;
	text-align: left;
}

header.main div.container .title {
}

header.main div.container .seach_form {
	margin-left: 19px;
	border-left: 1px dotted #CCC;
	height: 110px;
}

input.search {
	margin-left: 25px;
	margin-top: 80px;
	padding: 4px 14px;
	border-radius: 14px;
	width: 220px;
	box-shadow: rgba(0, 0, 0, 0.0742188) 0px 1px 1px 0px inset;
	height: 18px;
	color: #555;
	border: 1px solid #CCC;
	font: normal 13px sans-serif;
	line-height: 18px;
	vertical-align: middle;
}

header.main .container h1 {
	margin-bottom: 22px;
	font: bold 52px/1 sans-serif;
}

header.main .container h1 a {
	color: #333;
	text-decoration: none;
	text-shadow: white 0px 1px 0px;
}

header.main .container h2 {
	font: normal 17px/1 sans-serif;
	text-transform: uppercase;
	color: #333;
}

header.main .container .header-list {
	list-style: none;
	margin: 0;
}

header.main .container .header-list li {
	display: inline;
	padding-right: 20px;
	float: left;
}

header.main .container .header-list .title {
	font: normal 10px/1 sans-serif;
	text-transform: uppercase;
	color: #999;
	margin-top: 4px;
}

header.main .container .header-list .grokpodcast a {
	background: #EDEBE1 url(/images/grokpodcast.jpg) no-repeat;
	display: block;
    height: 16px;
    width: 110px;
    text-indent: -9999px;
}

section.container {
	margin: 0 auto;
	max-width: 960px;
	text-align: left;
}

div#main {
	background-color: #F4F4F4;
}

div#content {
	background-color: white;
}


/* CORREÇÃO */

article header h1 {
	font-size: 48px;
}

body > header, body > nav, body > footer, body #content > article, body #content > div > article, body #content > div > section {
	padding-left: 0;
	padding-right: 40px;
}

body div.pagination {
	margin-right: 40px;
	margin-left: 0;
}